asgiref==3.8.1
cffi==1.17.1
cryptography==45.0.2
Django==5.2.1
django-environ==0.12.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
factory_boy==3.3.3
Faker==37.3.0
geographiclib==2.0
geopy==2.4.1
inflection==0.5.1
packaging==25.0
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
review==1510
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.1.1
